@import "tailwindcss";
@import "tw-animate-css";

@tailwind utilities;

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-sans text-black;
    @apply bg-yellow-300;
  }
  h1,
  h2,
  h3 {
    @apply font-bold text-black;
  }
}

@theme {
  --font-comfortaa: "Comfortaa", cursive;
  --font-eraslight: "eraslight", sans-serif;
  --font-erasdemi: "erasdemi", sans-serif;
  --font-inter: "Inter", sans-serif;
  --breakpoint-xl: 64rem;

  --animate-fade-in-scale: fade-in-scale 1s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-slider: animacao-1 30s infinite;
  @keyframes animacao-1 {
    1%,
    5% {
      opacity: 0;
    }
    10%,
    40% {
      opacity: 1;
    }
    55%,
    100% {
      opacity: 0;
    }
  }

  --animate-celular-up: animacao-celular-up 0.6s forwards;
  --animate-celular-down: animacao-celular-down 0.6s forwards;
  @keyframes animacao-celular-up {
    0% {
      top: 400px;
    }
    10% {
      top: 376px;
    }
    20% {
      top: 312px;
    }
    30% {
      top: 248px;
    }
    40% {
      top: 184px;
    }
    50% {
      top: 120px;
    }
    60% {
      top: 56px;
    }
    70% {
      top: -8px;
    }
    80% {
      top: -72px;
    }
    90% {
      top: -136px;
    }
    100% {
      top: -200px;
    }
  }
  @keyframes animacao-celular-down {
    0% {
      top: -200px;
    }
    10% {
      top: -136px;
    }
    20% {
      top: -72px;
    }
    30% {
      top: -8px;
    }
    40% {
      top: 56px;
    }
    50% {
      top: 120px;
    }
    60% {
      top: 184px;
    }
    70% {
      top: 248px;
    }
    80% {
      top: 312px;
    }
    90% {
      top: 376px;
    }
    100% {
      top: 400px;
    }
  }

  --animate-header-up: animacao-header-up 0.6s forwards;
  --animate-header-down: animacao-header-down 0.6s forwards;
  @keyframes animacao-header-up {
    0% {
      top: 0px;
    }
    10% {
      top: -52px;
    }
    20% {
      top: -104px;
    }
    30% {
      top: -156px;
    }
    40% {
      top: -208px;
    }
    50% {
      top: -260px;
    }
    60% {
      top: -312px;
    }
    70% {
      top: -364px;
    }
    80% {
      top: -416px;
    }
    90% {
      top: -468px;
    }
    100% {
      top: -820px;
    }
  }
  @keyframes animacao-header-down {
    0% {
      top: -820px;
    }
    10% {
      top: -468px;
    }
    20% {
      top: -416px;
    }
    30% {
      top: -364px;
    }
    40% {
      top: -312px;
    }
    50% {
      top: -260px;
    }
    60% {
      top: -208px;
    }
    70% {
      top: -156px;
    }
    80% {
      top: -104px;
    }
    90% {
      top: -52px;
    }
    100% {
      top: 0px;
    }
  }

  --animate-menu-up: animacao-menu-up 0.6s forwards;
  --animate-menu-down: animacao-menu-down 0.6s forwards;
  @keyframes animacao-menu-up {
    0% {
      top: 0px;
    }
    10% {
      top: -10px;
    }
    20% {
      top: -20px;
    }
    30% {
      top: -30px;
    }
    40% {
      top: -40px;
    }
    50% {
      top: -50px;
    }
    60% {
      top: -60px;
    }
    70% {
      top: -70px;
    }
    80% {
      top: -80px;
    }
    90% {
      top: -90px;
    }
    100% {
      top: -100px;
    }
  }
  @keyframes animacao-menu-down {
    0% {
      top: -100px;
    }
    10% {
      top: -90px;
    }
    20% {
      top: -80px;
    }
    30% {
      top: -70px;
    }
    40% {
      top: -60px;
    }
    50% {
      top: -50px;
    }
    60% {
      top: -40px;
    }
    70% {
      top: -30px;
    }
    80% {
      top: -20px;
    }
    90% {
      top: -10px;
    }
    100% {
      top: 0px;
    }
  }

  --animate-footer-up: animacao-footer-up 0.6s forwards;
  --animate-footer-down: animacao-footer-down 0.6s forwards;
  @keyframes animacao-footer-up {
    0% {
      top: 1000px;
    }
    10% {
      top: 840px;
    }
    20% {
      top: 798px;
    }
    30% {
      top: 756px;
    }
    40% {
      top: 714px;
    }
    50% {
      top: 672px;
    }
    60% {
      top: 630px;
    }
    70% {
      top: 588px;
    }
    80% {
      top: 504px;
    }
    90% {
      top: 462px;
    }
    100% {
      top: 400px;
    }
  }
  @keyframes animacao-footer-down {
    0% {
      top: 400px;
    }
    10% {
      top: 462px;
    }
    20% {
      top: 504px;
    }
    30% {
      top: 588px;
    }
    40% {
      top: 630px;
    }
    50% {
      top: 672px;
    }
    60% {
      top: 714px;
    }
    70% {
      top: 756px;
    }
    80% {
      top: 798px;
    }
    90% {
      top: 840px;
    }
    100% {
      top: 1000px;
    }
  }

  --animate-rodape-up: animacao-rodape-up 0.6s forwards;
  --animate-rodape-down: animacao-rodape-down 0.6s forwards;
  @keyframes animacao-rodape-up {
    0% {
      height: 0vh;
      bottom: 0%;
      overflow: auto;
    }
    10% {
      height: 10vh;
      bottom: 10%;
    }
    20% {
      height: 20vh;
      bottom: 20%;
    }
    30% {
      height: 30vh;
      bottom: 30%;
    }
    40% {
      height: 40vh;
      bottom: 40%;
    }
    50% {
      height: 50vh;
      bottom: 50%;
    }
    60% {
      height: 60vh;
      bottom: 60%;
    }
    70% {
      height: 70vh;
      bottom: 70%;
    }
    80% {
      height: 80vh;
      bottom: 80%;
    }
    90% {
      height: 90vh;
      bottom: 90%;
    }
    100% {
      height: 100vh;
      bottom: 100%;
    }
  }
  @keyframes animacao-rodape-down {
    0% {
      height: 100vh;
      bottom: 100%;
    }
    10% {
      height: 90vh;
      bottom: 90%;
    }
    20% {
      height: 80vh;
      bottom: 80%;
    }
    30% {
      height: 70vh;
      bottom: 70%;
    }
    40% {
      height: 60vh;
      bottom: 60%;
    }
    50% {
      height: 50vh;
      bottom: 50%;
    }
    60% {
      height: 40vh;
      bottom: 40%;
    }
    70% {
      height: 30vh;
      bottom: 30%;
    }
    80% {
      height: 20vh;
      bottom: 20%;
    }
    90% {
      height: 10vh;
      bottom: 10%;
    }
    100% {
      height: 0vh;
      bottom: 0%;
    }
  }

  --animate-rodape-conteudo-mostrar: animacao-rodape-conteudo-m 0.6s forwards;
  --animate-rodape-conteudo-esconder: animacao-rodape-conteudo-e 0.6s forwards;
  @keyframes animacao-rodape-conteudo-m {
    0% {
      height: 0vh;
    }
    10% {
      height: 10vh;
    }
    20% {
      height: 20vh;
    }
    30% {
      height: 30vh;
    }
    40% {
      height: 40vh;
    }
    50% {
      height: 50vh;
    }
    60% {
      height: 60vh;
    }
    70% {
      height: 70vh;
    }
    80% {
      height: 80vh;
    }
    90% {
      height: 90vh;
    }
    100% {
      height: 100vh;
      overflow: auto;
    }
  }
  @keyframes animacao-rodape-conteudo-e {
    0% {
      height: 100vh;
    }
    10% {
      height: 90vh;
    }
    20% {
      height: 80vh;
    }
    30% {
      height: 70vh;
    }
    40% {
      height: 60vh;
    }
    50% {
      height: 50vh;
    }
    60% {
      height: 40vh;
    }
    70% {
      height: 30vh;
    }
    80% {
      height: 20vh;
    }
    90% {
      height: 10vh;
    }
    100% {
      height: 0vh;
      overflow: hidden;
    }
  }
}
